<configuration scan="true" scanPeriod="1 minutes">
    <appender name="KONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[P: %-5p] [T: %t] [L: %c] - [M: %m] %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="KONSOLE"/>
    </root>

    <logger name="de.bund.bva.isyfact" level="DEBUG"/>

    <logger name="de.bund.bva.isyfact" level="DEBUG"/>

    <logger name="org.springframework" level="INFO"/>
</configuration>